# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Unidad3/Ejercicio9/build/
/Unidad3/Ejercicio2/nbproject/private/
/Unidad3/Ejercicio2/build/
/Unidad3/Ejercicio2/dist/
/Unidad3/Ejercicio3/nbproject/private/
/Unidad3/Ejercicio3/build/
/Unidad3/Ejercicio4/nbproject/private/
/Unidad3/Ejercicio4/build/
/Unidad3/Ejercicio5/nbproject/private/
/Unidad3/Ejercicio5/build/
/Unidad3/Ejercicio5/dist/
/Unidad3/Ejercicio7/nbproject/private/
/Unidad3/Ejercicio7/dist/
/Unidad3/Ejercicio7/build/
/Unidad3/Ejercicio8/nbproject/private/
/Unidad3/Ejercicio8/build/
/Unidad3/Ejercicio8/dist/
/Unidad3/Ejercicio11/nbproject/private/
/Unidad3/Ejercicio11/build/
/Unidad3/Ejercicio12/nbproject/private/
/Unidad3/Ejercicio12/build/
/Unidad3/Ejercicio13/nbproject/private/
/Unidad3/Ejercicio13/dist/
/Unidad3/Ejercicio13/build/
/Unidad3/Ejercicio14/nbproject/private/
/Unidad3/Ejercicio14/build/
/Unidad3/Ejercicio15/nbproject/private/
/Unidad3/Ejercicio15/build/
/Unidad3/Ejercicio15/dist/
/Unidad3/Ejercicio16/nbproject/private/
/Unidad3/Ejercicio16/build/
/Unidad3/Ejercicio17/nbproject/private/
/Unidad3/Ejercicio17/build/
/Unidad3/Ejercicio17/dist/
/Unidad3/Ejercicio18/nbproject/private/
/Unidad3/Ejercicio18/dist/
/Unidad3/Ejercicio18/build/
/Unidad3/Ejercicio21/nbproject/private/
/Unidad3/Ejercicio21/dist/
/Unidad3/Ejercicio21/build/
/Unidad3/Ejercicio22/nbproject/private/
/Unidad3/Ejercicio22/build/
/Unidad3/Ejercicio27/nbproject/private/
/Unidad3/Ejercicio27/build/
/Unidad3/Ejercicio28/nbproject/private/
/Unidad3/Ejercicio28/dist/
/Unidad3/Ejercicio28/build/
/Unidad3/Ejercicio23/nbproject/private/
/Unidad3/Ejercicio24/nbproject/private/
/Unidad3/Ejercicio24/build/
/Unidad3/Ejercicio25/nbproject/private/
/Unidad3/Ejercicio25/build/
/Unidad3/Ejercicio26/nbproject/private/
/Unidad3/Ejercicio26/build/
/Unidad3/Ejercicio29/nbproject/private/
/Unidad3/Ejercicio29/build/
/Unidad3/Ejercicio30/nbproject/private/
/Unidad3/Ejercicio30/dist/
/Unidad3/Ejercicio30/build/
/Unidad3/Ejercicio31/nbproject/private/
/Unidad3/Ejercicio31/dist/
/Unidad3/Ejercicio31/build/
/Unidad3/Ejercicio32/nbproject/private/
/Unidad3/Ejercicio32/build/
/Unidad3/Ejercicio32/dist/
/Unidad4/Ejercicio1/nbproject/private/
/Unidad4/Ejercicio1/build/
/Unidad4/Ejercicio1/dist/
/Unidad4/Ejercicio2/nbproject/private/
/Unidad4/Ejercicio2/build/
/Unidad4/Ejercicio2/dist/
/Unidad4/Ejercicio3/nbproject/private/
/Unidad4/Ejercicio3/dist/
/Unidad4/Ejercicio3/build/
/Unidad3/Ejercicio04/nbproject/private/
/Unidad3/Ejercicio04/build/
/Unidad4/Ejercicio5/nbproject/private/
/Unidad4/Ejercicio5/build/
/Unidad4/Ejercicio6/nbproject/private/
/Unidad4/Ejercicio6/build/
/Unidad4/Ejercicio7/nbproject/private/
/Unidad4/Ejercicio7/build/
/Unidad4/Ejercicio8/nbproject/private/
/Unidad4/Ejercicio8/build/
/Unidad4/Ejercicio04/nbproject/private/
/Unidad4/Ejercicio9/nbproject/private/
/Unidad4/Ejercicio9/build/
/Unidad4/Ejercicio10/nbproject/private/
/Unidad4/Ejercicio10/build/
/Unidad4/Ejercicio11/nbproject/private/
/Unidad4/Ejercicio11/build/
